
@{
    ViewData["Title"] = "Create Arweave wallet";
}


<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Create and copy your new Arweave key file.</p>
</div>


<div class="row">
    <div class="col-3">
        Create new wallet
    </div>
    <div class="col-7">
        <input type="button" class="btn btn-primary" id="generateWalletBtn" value="Generate new wallet" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-3">
        Wallet file (copy in a safe place)
    </div>
    <div class="col-7">
        <p class="newWalletKey">

        </p>
    </div>
</div>
<br />

